html {
	font: 14px/1.4 "Averia Serif Libre", serif;
}
body {
	background: #fff;
	color: #333;
	margin: 0;
	padding: 0;
}
p {
	background: #333;
	color: #fff;
	font-weight: bold;
	margin: 0;
	padding: 1.4em 50px;
	display: block;
}
img {
	display: block;
	margin: 0;
	padding: 2.8em 0.5em;
}
a:link, a:visited {
	color: #fff;
	border-bottom: 1px solid;
	text-decoration: none;
	padding-bottom: 1px;
}
a:hover, a:focus, a:active {
	color: #ddd;
}
::selection {
	background: #E0E0E0;
}
