{% extends "gigs/base.html" %}
{% load thumbnail %}

{% block title %}{{ artist.name }}{% endblock %}
{% block content_title %}{{ artist.name }}{% endblock %}
{% block extra_head %}
	<link href="{% url gigs_feeds "artists" %}{{ artist.slug }}/" rel="alternate" type="application/rss+xml" title="Feed for {{ artist.title }}" />
	{{ block.super }}
{% endblock %}
{% block body_id %}artist{% endblock %}

{% block content_intro %}
	{% with artist.gig_set.published.select_related.latest as latest_gig %}
		<p>
			{% if latest_gig %}
				{% if latest_gig.is_finished %}Last spotted in{% else %}Next visiting{% endif %} {{ latest_gig.venue.town }} at {{ latest_gig.venue.name }} on {{ latest_gig.date|date }}.
			{% else %}
				Yet to play a gig in one of Scotland’s great cities.
			{% endif %}
		</p>
	{% endwith %}
{% endblock %}

{% block content %}
	{% with artist.gig_set.published as gig_set %}
		{% if gig_set %}
			<div class="list">
				<h2>Gigs</h2>
				<ol>
					{% for gig in gig_set %}
						{% include "gigs/_gig_in_list.html" %}
					{% endfor %}
				</ol>
			</div>
		{% endif %}
	{% endwith %}
	{% if artist.album_set.published %}
		<div class="list">
			<h2>Albums</h2>
			<ol>
				{% for album in artist.album_set.published %}
					{% include "gigs/_album_in_list.html" %}
				{% endfor %}
			</ol>
		</div>
	{% endif %}
	{% if artist.biography_html %}
		<div id="biography_and_photo">
			{% thumbnail artist.photo 340x238 crop="0,0" upscale bw as artist_thumb %}
			<img alt="Photo of {{ artist.name }}" height="238" src="{% if artist_thumb %}{{ artist_thumb }}{% else %}{{ MEDIA_URL }}gigs/img/default_artist_340x238.jpg{% endif %}" width="340" />
			<div id="biography">
				{{ artist.biography_html|safe }}
			</div>
		</div>
	{% endif %}
	{% with artist.similar_artists.published as similar_artists %}
		{% if similar_artists %}
			<div class="list">
				<h2>Other artists you may like</h2>
				<ol>
					{% for similar_artist in similar_artists %}
						{% with similar_artist as artist %}
							{% include "gigs/_artist_in_list.html" %}
						{% endwith %}
					{% endfor %}
				</ol>
			</div>
		{% endif %}
	{% endwith %}
{% endblock %}
