{% extends "gigs/base.html" %}

{% block title %}Artists{% endblock %}
{% block content_title %}Artists{% endblock %}
{% block body_id %}artists{% endblock %}

{% block content_intro %}
	<p>Every band, musician, singer, and tribute act to have played a gig in Edinburgh or Glasgow. All {{ artist_count }} of them.</p>
{% endblock %}

{% block content %}
	{% for letter, artists in alphabetic_artists.items %}
		{% if artists %}
			<div class="list">
				<h2>{{ letter }}</h2>
				<ol>
					{% for artist in artists %}
						{% include "gigs/_artist_in_list.html" %}
					{% endfor %}
				</ol>
			</div>
		{% endif %}
	{% endfor %}
{% endblock %}