{% extends "gigs/base.html" %}
{% load thumbnail %}

{% block title %}{{ gig.artist.name }} at {{ gig.venue }} on {{ gig.date|date }}{% endblock %}
{% block content_title %}{{ gig.artist.name }}{% endblock %}

{% block extra_head %}
	{{ block.super }}
	<link rel="shortlink" href="{{ gig.get_short_absolute_url }}">
{% endblock %}

{% block body_id %}gig{% endblock %}

{% block content_intro %}
	<p>{{ gig.venue }}, {{ gig.date|date:"l jS F Y" }}.</p>
{% endblock %}

{% block content %}
	{% if gig.venue.latitude or gig.venue.town.latitude %}
		<div id="map"></div>
	{% endif %}
	<div id="tickets">
		<div{% if gig.cancelled or gig.sold_out %} class="notickets"{% endif %} id="price">
			{% if gig.cancelled %}
				Cancelled
			{% else %}
				{% if gig.sold_out %}
					Sold out
				{% else %}
					<a href="/buy-tickets/" title="Find out more about buying {{ gig.artist }} tickets">Tickets £{{ gig.price|stringformat:"0.2f" }}</a>
				{% endif %}
			{% endif %}
		</div>
		<h2>{% if gig.cancelled or gig.sold_out %}Buying tickets{% else %}<a href="/buy-tickets/" title="Find out more about buying {{ gig.artist }} tickets">Want a ticket?</a>{% endif %}</h2>
		<p>You can buy tickets for {% if gig.cancelled or gig.sold_out %}other gigs{% else %}{{ gig.artist }}{% endif %} by phone or in person from Ripping Records in Edinburgh. <a href="/buy-tickets/" title="Find out more about buying {{ gig.artist }} tickets">Find out more</a>.</p>
	</div>
	{% thumbnail gig.artist.photo 340x238 crop="0,0" upscale as artist_thumb %}
	<img alt="Photo of {{ gig.artist.name }}" height="238" id="photo" src="{% if artist_thumb %}{{ artist_thumb }}{% else %}{{ MEDIA_URL }}gigs/img/default_artist_340x238.jpg{% endif %}" width="340" />
	<dl>
		<dt>Who</dt>
		<dd>
			<a href="{{ gig.artist.get_absolute_url }}">{{ gig.artist.name }}</a>
		</dd>
		<dt>When</dt>
		<dd>{{ gig.date|date }}</dd>
		<dt>Where</dt>
		<dd>
			<a href="{{ gig.venue.get_absolute_url }}">{{ gig.venue.name }}</a>{% if gig.venue.address %}<br />{{ gig.venue.address }}{% endif %}, <a href="{{ gig.venue.town.get_absolute_url }}">{{ gig.venue.town }}</a>
		</dd>
		{% if gig.promoter %}
			<dt>Promoter</dt>
			<dd><a href="{{ gig.promoter.get_absolute_url }}">{{ gig.promoter.name }}</a></dd>
		{% endif %}
		{% if gig.extra_information %}
			<dt>Extra info</dt>
			<dd>{{ gig.extra_information|capfirst }}</dd>
		{% endif %}
	</dl>
	{% if gig.artist.biography_html %}
		<div id="biography">
			<h2>Biography</h2>
			<div>
				{{ gig.artist.biography_html|truncatewords_html:100|safe }}
				<p><a href="{{ gig.artist.get_absolute_url }}" title="Full biography of {{ gig.artist.name }}">Read more …</a></p>
			</div>
		</div>
	{% endif %}
	{% if other_gigs_by_artist %}
		<div class="list">
			<h2>Other gigs</h2>
			<ol>
				{% for gig in other_gigs_by_artist %}
					{% include "gigs/_gig_in_list.html" %}
				{% endfor %}
			</ol>
		</div>
	{% endif %}
	{% with gig.artist.album_set.published as artist_albums %}
		{% if artist_albums %}
			<div class="list">
				<h2>Albums</h2>
				<ol>
					{% for album in artist_albums %}
						{% include "gigs/_album_in_list.html" %}
					{% endfor %}
				</ol>
			</div>
		{% endif %}
	{% endwith %}
{% endblock %}

{% block scripts %}
	{{ block.super }}
	{% if gig.venue.latitude or gig.venue.town.latitude %}
		<script type="text/javascript" src="http://tile.cloudmade.com/wml/latest/web-maps-lite.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}gigs/js/map.js"></script>
		<script type="text/javascript">
			Gigs.map.init("map", "{{ MEDIA_URL}}", '{{ CLOUDMADE_API_KEY }}', {{ CLOUDMADE_STYLE_ID }});
			{% if gig.venue.latitude and gig.venue.longitude %}
				Gigs.map.show({{ gig.venue.latitude }}, {{ gig.venue.longitude }}, 16);
				Gigs.map.addMarker({{ gig.venue.latitude }}, {{ gig.venue.longitude }}, "{{ gig.venue.name }}");
			{% else %}
				{% if gig.venue.town.latitude and gig.venue.town.longitude %}
					Gigs.map.show({{ gig.venue.town.latitude }}, {{ gig.venue.town.longitude }}, 12);
				{% endif %}
			{% endif %}
		</script>
	{% endif %}
{% endblock %}
