{% extends "gigs/base.html" %}
{% load thumbnail %}

{% block title %}{{ gig.artist.name }} at {{ gig.venue }} on {{ gig.date|date }}.</p>{% endblock %}
{% block content_title %}{{ gig.artist.name }}{% endblock %}
{% block body_id %}gig{% endblock %}

{% block content_intro %}
	<p>{{ gig.venue }}, {{ gig.date|date:"l jS F Y" }}.</p>
{% endblock %}

{% block content %}
	{% if gig.venue.longitude or gig.venue.town.longitude %}
		<div id="map"></div>
	{% endif %}
{% endblock %}

{% block scripts %}
	{{ block.super }}
	{% if gig.venue.longitude or gig.venue.town.longitude %}
		<script type="text/javascript" src="http://tile.cloudmade.com/wml/latest/web-maps-lite.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}gigs/js/map.js"></script>
		<script type="text/javascript">
			Gigs.map.init("map", "{{ MEDIA_URL}}", '{{ CLOUDMADE_API_KEY }}', {{ CLOUDMADE_STYLE_ID }});
			{% if gig.venue.longitude and gig.venue.latitude %}
				Gigs.map.show({{ gig.venue.longitude }}, {{ gig.venue.latitude }}, 16);
				Gigs.map.addMarker({{ gig.venue.longitude }}, {{ gig.venue.latitude }}, "{{ gig.venue.name }}");
			{% else %}
				{% if gig.venue.town.longitude and gig.venue.town.latitude %}
					Gigs.map.show({{ gig.venue.town.longitude }}, {{ gig.venue.town.latitude }}, 12);
				{% endif %}
			{% endif %}
		</script>
	{% endif %}
{% endblock %}
