{% extends "gigs/base.html" %}

{% block title %}Gigs on {{ day|date }}{% endblock %}
{% block content_title %}{{ day|date:"jS F" }}{% endblock %}
{% block body_id %}gigs{% endblock %}

{% block content_intro %}
	{% with gig_list|length as number_of_upcoming_gigs %}
		<p>All {{ number_of_upcoming_gigs }} gig{{ number_of_upcoming_gigs|pluralize }} occurring on {{ day|date }}.</p>
	{% endwith %}
{% endblock %}

{% block content %}
	<div class="list">
		<h2>Gigs</h2>
		<ol>
			{% for gig in gig_list %}
				{% include "gigs/_gig_in_list.html" %}
			{% endfor %}
			<li class="more"><a href="{% url gigs_gig_archive_month day|date:"Y" day|date:"m" %}">All gigs in {{ day|date:"F Y" }} …</a></li>
		</ol>
	</div>
{% endblock %}