{% extends "gigs/base.html" %}
{% load thumbnail %}

{% block title %}Live music in Edinburgh and Glasgow, Scotland{% endblock %}
{% block body_id %}home{% endblock %}

{% block body %}
	<form action="{% url haystack_search %}" id="site_search" method="get">
		<fieldset>
			<label for="id_q">Search gigs, artists, and venues</label>
			<input id="id_q" name="q" type="text">
			<button type="submit">Search</button>
		</fieldset>
	</form>
	<ol id="upcoming_gigs">
		{% for gig in closest_gigs %}
			{% thumbnail gig.artist.photo 220x147 crop="0,0" bw upscale as gig_thumb %}
			<li class="vevent {% cycle one,two,three,four %}">
				<a class="url" href="{{ gig.get_absolute_url }}" title="{{ gig.artist }} at {{ gig.venue }}">
					<img alt="{{ gig.artist }}" height="147" src="{% if gig_thumb %}{{ gig_thumb }}{% else %}{{ MEDIA_URL }}gigs/img/default_artist_220x147.jpg{% endif %}" width="220" title="">
					<span class="summary" title="{{ gig.artist.name }}">{{ gig.artist.name|truncatewords:4 }}</span>
					{% if gig.price %}<span class="price">£{{ gig.price|stringformat:"0.2f" }}</span>{% endif %}
					<span class="location" title="{{ gig.venue.name }}, {{ gig.venue.town }}">{{ gig.venue.name|truncatewords:3 }}, {{ gig.venue.town }}</span>
				</a>
				<abbr class="dtstart" title="{{ gig.date }}">{{ gig.date|date:"l jS F" }}</abbr>
			</li>
		{% endfor %}
	</ol>
	<div class="list" id="gigs_by_date">
		<h2>Browse gigs by date</h2>
		<ol>
			{% for month in upcoming_months_with_gigs %}
				<li>
					<a href="{% url gigs_gig_archive_month month|date:"Y" month|date:"m" %}" title="View all gigs in {{ month|date:"F Y" }}">{{ month|date:"F" }}</a>
				</li>
			{% endfor %}
			<li class="more"><a href="{% url gigs_gig_index %}">View all dates&nbsp;…</a></li>
		</ol>
	</div>
	{% if gigs_this_week %}
		<div class="list" id="gigs_this_week">
			<h2>Gigs this week</h2>
			<ol>
				{% for gig in gigs_this_week %}
					<li class="vevent">
						<a class="url" href="{{ gig.get_absolute_url }}" title="{{ gig.artist }} at {{ gig.venue }}">
							{% thumbnail gig.artist.photo 63x63 crop="0,0" bw upscale as gig_thumb %}
							<img alt="" height="63" src="{% if gig_thumb %}{{ gig_thumb }}{% else %}{{ MEDIA_URL }}gigs/img/default_artist_63x63.jpg{% endif %}" width="63" title="">
							<span class="summary">{{ gig.artist.name|truncatewords:3 }}</span>
							<span class="location">{{ gig.venue.name|truncatewords:3 }}</span>
						</a>
						<abbr class="dtstart" title="{{ gig.date }}">{{ gig.date|date:"l jS" }}</abbr>
					</li>
				{% endfor %}
			</ol>
		</div>
	{% endif %}
	{% if gigs_next_week %}
		<div class="list" id="gigs_next_week">
			<h2>Gigs next week</h2>
			<ol>
				{% for gig in gigs_next_week %}
					<li class="vevent">
						<a class="url" href="{{ gig.get_absolute_url }}" title="{{ gig.artist }} at {{ gig.venue }}">
							{% thumbnail gig.artist.photo 63x63 crop="0,0" bw upscale as gig_thumb %}
							<img alt="" height="63" src="{% if gig_thumb %}{{ gig_thumb }}{% else %}{{ MEDIA_URL }}gigs/img/default_artist_63x63.jpg{% endif %}" width="63" title="">
							<span class="summary">{{ gig.artist.name|truncatewords:3 }}</span>
							<span class="location">{{ gig.venue.name|truncatewords:3 }}</span>
						</a>
						<abbr class="dtstart" title="{{ gig.date }}">{{ gig.date|date:"l jS" }}</abbr>
					</li>
				{% endfor %}
			</ol>
		</div>
	{% endif %}
	<div class="list" id="artist_list">
		<h2>Browse by artist</h2>
		<ol>
			{% for artist in artists %}
				<li>
					<a href="{{ artist.get_absolute_url }}" title="See all gigs for {{ artist.name }}">{{ artist.name }}</a>
				</li>
			{% endfor %}
			<li class="more"><a href="{% url gigs_artist_list %}">View all {{ number_of_artists }} artists&nbsp;…</a></li>
		</ol>
	</div>
	<div class="list" id="venue_list">
		<h2>Browse by venue</h2>
		<ol>
			{% for venue in venues %}
				<li>
					<a href="{{ venue.get_absolute_url }}" title="Gigs at {{ venue.name }}, {{ venue.town }}">{{ venue.name }}, {{ venue.town }}</a>
					<span>{{ venue.number_of_upcoming_gigs }} upcoming gig{{ venue.number_of_upcoming_gigs|pluralize }}</span>
				</li>
			{% endfor %}
			<li class="more"><a href="{% url gigs_venue_list %}">View all {{ number_of_venues }} venues&nbsp;…</a></li>
		</ol>
	</div>
	<div class="list" id="town_list">
		<h2>Browse by town</h2>
		<ol>
			{% for town in towns %}
				<li>
					<a href="{{ town.get_absolute_url }}" title="Gigs in {{ town }}">{{ town.name }}</a>
					<span>{{ town.number_of_upcoming_gigs }} upcoming gig{{ town.number_of_upcoming_gigs|pluralize }}</span>
				</li>
			{% endfor %}
		</ol>
	</div>
	<div class="list" id="recently_added_gigs">
		<h2>Newly listed gigs</h2>
		<ol>
			{% for gig in new_gigs %}
				<li class="vevent">
					<a class="url" href="{{ gig.get_absolute_url }}" title="{{ gig.artist }} at {{ gig.venue }}">
						<span class="summary">{{ gig.artist }}</span>
						<span class="location">{{ gig.venue }}</span>
					</a>
					<abbr class="dtstart" title="{{ gig.date }}">{{ gig.date|date:"l jS F" }}</abbr>
				</li>
			{% endfor %}
		</ol>
	</div>
{% endblock %}
