{% extends "gigs/base.html" %}

{% block title %}{{ promoter.name }}{% endblock %}
{% block content_title %}{{ promoter.name }}{% endblock %}
{% block body_id %}promoter{% endblock %}

{% block content_intro %}
	<p>Promoting {{ promoter.number_of_upcoming_gigs }} upcoming gig{{ promoter.number_of_upcoming_gigs|pluralize }}.{% if promoter.web_site %} Visit <a href="{{ promoter.web_site }}">{{ promoter.name }}’s web site</a>.{% endif%}</p>
{% endblock %}

{% block content %}
	{% with promoter.gig_set.upcoming as gig_list %}
		{% if gig_list %}
			<div class="list">
				<h2>Gigs</h2>
				<ol>
					{% for gig in gig_list %}
						{% include "gigs/_gig_in_list.html" %}
					{% endfor %}
				</ol>
			</div>
		{% endif %}
	{% endwith %}
{% endblock %}
